body {
  background-color: white;
  margin: 0;
}
h1 {
  font-size: 17px;
  margin: 0;
}
h2 {
  style: font-family: "arial black", "avant garde";
  font-style: italic;
  color: #3366ff;
  margin: 0;
}
h5 {
  font-size: 19px;
  font-style: italic;
  margin: 0;
  color: white;
}
h6 {
  font-size: 14px;
  margin: 0;
  color: white;
}
h7 {
  font-size: 13px;
  margin: 0;
  color: white;
}
table {
  border="0";
  cellspacing="0";
  cellpadding="0";  
}
td {
  vertical-align: top;
}
